.mat-card-image {
    width: 50%;
    margin-bottom: 2%;
    object-position: center;
}

.img {
    display: inline-block;
    repeat: no-repeat;
    justify-items: center;
}

.crop-image {
    display: block;
    height: 300px;
    width: 300px;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        object-position: center;
    }
}