.container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.grid-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}

@media (min-width: 576px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1920px) {
    .product-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}